body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: rgba(211, 211, 211, 0.3);
  overflow: auto;
  scrollbar-color: black;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(211, 211, 211, 0.3);
  border-radius: 20px;
  border: 3px solid black;
}



header {
  display: inline-block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  color: white;
  background-color: black;
  height: 35px;
  width: 100%;
  padding-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0);
}

.containerA {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  width: 100%;
  gap: 40px;
  background-color: white;
}

nav ul {
  padding: 10px;
  margin: 0;
  list-style: none;
  text-align: center;
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 14pt;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0); */
}

nav li {
  display: inline-block;
  margin-right: 25px;
}

nav a {
  color: black;
  text-decoration: none;
}

.botoes {

  /* float:right; */
  display: flex;
  gap: 10px;
}

.logo {
  width: 230px;
  height: 100px;
  margin-left: -120px;
}

#divBusca {
  /* float: left; */
  background-color: white;
  border: solid 2px black;
  border-radius: 10px;
  width: 250px;
  height: 25px;
  display: flex;
}

#txtBusca {
  float: left;
  background-color: transparent;
  padding-left: 5px;
  font-size: 15px;
  border: none;
  height: 25px;
  width: 150px;
}

#btnBusca {
  border: none;
  float: left;
  height: 25px;
  border-radius: 0 7px 7px 0;
  width: 72px;
  font-weight: bold;
  color: white;
  background: black;
  cursor: pointer;
}

#divBusca img {
  float: left;
}

#icone1 {
  width: 30px;
  height: 30px;
  border: none;
  background: url('1564497_basket_cart_food_grosseries_shop_icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
}

#icone2 {

  margin-right: 8px;
  width: 30px;
  height: 30px;
  border: none;
  background: url('211755_heart_icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
}

#icone3 {
  margin-right: 8px;
  width: 30px;
  height: 30px;
  border: none;
  background: url('2024644_login_user_avatar_person_users_icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
}

#icone4 {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: none;
  background: url('house.png');
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  margin-left: 12px ;
}

/* nav a:hover{
  background:rgba(0, 0, 0, 0.1);
  color:black;
  font-size: 15pt;
} */
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
}

.camisas {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 30pt;
  color: white;
  font-weight: bold;
  height: 400px;
  width: 400px;
  border: 2px solid black;
  transition: transform 0.3s;
  box-shadow: 0 16px 17px 5px rgba(0, 0, 0, 0.3);
}

.camisas:hover {
  transform: scale(0.9);
}

.masculinas {
  background: url("luxa.org-opacity-changed-masculina\ \(1\).jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.femininas {
  background: url("luxa.org-opacity-changed-feminina.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.selecoes {
  background: url("luxa.org-opacity-changed-selecao\ \(1\).jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

footer {
  display: inline-block;
  text-align: center;
  margin-top: 100px;
  height: 200px;
  width: 100%;
  color: white;
  background-color: black;
}


@media (min-width: 799px) and (max-width: 1210px) {
  header {
    font-size: 14px;
  }

  .containerA{
    height: 150px;
  }
  .camisas{
    width: 200px;
    height: 200px;
    font-size: 18px;
  }

  #divBusca {
    width: auto;
  }

  #txtBusca {
    width: 100px;
  }

  #btnBusca {
    width: auto;
  }

  nav ul {
    font-size: 12pt;
  }

  .logo {
    width: 180px;
    height: 60px;
    margin-left: -40px;
  }

  .camisas {
    font-size: 24pt;
    height: 250px;
    width: 250px;
  }

  #icone1 {
    width: 22px;
    height: 22px;
  }

  #icone2 {
    width: 22x;
    height: 25px;
    margin-top: -4px;
  }
  #icone3 {
    width: 22px;
    height: 22px;
  }

  #icone4{
    margin-left: 20px;
    width: 25px;
    height: 25px;
  }

  footer{
    font-size: 12px;
  }
}

@media (min-width: 633px) and (max-width: 798px) {
  header {
    font-size: 12px;
    width: 100%;
  }

  .containerA{
    height: 120px;
  }
  
  .camisas{
    width: 30px;
    height: 30px;
    font-size: 10px;
  }

  #divBusca {
    width: auto;
  }

  #txtBusca {
    width: 70px;
  }

  #btnBusca {
    width: auto;
  }

  nav ul {
    font-size: 12pt;
  }

  .logo {
    width: 180px;
    height: 60px;
    margin-left: -40px;
  }

  .camisas {
    font-size: 18pt;
    height: 200px;
    width: 200px;
  }

  #icone1 {
    background-size: 80%;

  }

  #icone2 {
    background-size: 80%;
    margin-right: 3px;

  }
  #icone3 {
    background-size: 80%;
    margin-right: 3px;

  }

  #icone4{
    margin-left: 20px;
    background-size: 80%;
  }

  footer{
    font-size: 12px;
  }


}

@media (min-width: 459px) and (max-width: 632px) {
  header {
    font-size: 10pt;
    width: 100%;
  }

  .containerA{
    height: 100px;
  }

  .camisas{
    width: 30px;
    height: 30px;
    font-size: 10px;
  }

  #divBusca {
    width: auto;
    height: 15px;
  }

  #divBusca img{
    width: 15px;
    height: 15px;
  }
  #txtBusca {
    width: 50px;
    height: 15px;
  }

  #btnBusca {
    width: auto;
    height: 15px;
  }

  nav ul {
    font-size: 12pt;
  }

  .logo {
    width: 150px;
    height: 40px;
    margin-left: -20px;
  }

  .camisas {
    font-size: 18pt;
    height: 150px;
    width: 150px;
  }

  #icone1 {
   background-size:60% ;
   margin-right: -12px;
    margin-top: 10px;
  }

  #icone2 {
    background-size: 60%;
    margin-right: -12px;
    margin-top: 10px;
  }
  #icone3 {
    background-size: 60%;
    margin-top: 10px;
  }

  #icone4{
    margin-left: 40px;
    background-size: 70%;
  }

  footer{
    font-size: 6pt;
  }


}

@media (min-width: 0px) and (max-width: 459px) {
  header {
    font-size: 8pt;
    width: 100%;
  }

  .containerA{
    height: 80px;
  }

  .camisas{
    width: 5px;
    height: 5px;
    font-size: 5px;
  }

  #divBusca {
    width: auto;
    height: 15px;
  }

  #divBusca img{
    width: 15px;
    height: 15px;
  }
  #txtBusca {
    font-size: 0pt;
    width: 20px;
    height: 15px;
  }

  #btnBusca {

    font-size: 0pt;
    width: 25px;
    height: 15px;
  }

  nav ul {
    font-size: 12pt;
  }

  .logo {
    width: 120px;
    height: 40px;
    margin-left: 20px;
  }

  .camisas {
    font-size: 12pt;
    height: 110px;
    width: 110px;
  }

  #icone1 {
   background-size:50% ;
   margin-right: -12px;
    margin-top: 10px;
  }

  #icone2 {
    background-size: 50%;
    margin-right: -12px;
    margin-top: 10px;
  }
  #icone3 {
    background-size: 50%;
    margin-top: 10px;
  }

  #icone4{
    margin-left: 40px;
    background-size: 50%;
  }
  nav ul{
   height: 20px;
  }

  footer{
    font-size: 6pt;
  }


}
